.container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #B18EA9;
  font-size: 28px;
}

.form {
  display: flex;
  flex-direction: column;
}

.select,
.input,
textarea {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: border 0.3s;
}

.select:focus,
.input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #B18EA9;
  box-shadow: 0 0 5px rgba(216, 112, 147, 0.3);
}

.textarea {
  resize: vertical;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.button {
  flex: 1;
  padding: 12px;
  background-color: #B18EA9;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.button:hover {
  background-color: #B18EA9;
}
