# Java
*.class

# Maven
target/
pom.xml.tag
pom.xml.bak
pom.xml.versionsBackup
pom.xml.next
release.properties
release-versions.properties

# Gradle
.gradle/
build/

# IDEs
.idea/
.vscode/
*.iml
.settings/
.project
.classpath

# Other
*.log
logs/
tmp/